<h2>Register</h2>
<%= form_for @user do |f| %>
<%= f.label "User Name" %>
<%= f.text_field :username %>
<%= f.label "Email" %>
<%= f.text_field :email %>
<%= f.label "Profile Picture" %>
<%= f.file_field :profile_picture %>
<%= f.label "Cover Photo" %>
<%= f.file_field :cover_photo %>
<%= f.label "Password" %>
<%= f.password_field :password %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<%= f.submit "Sign Up" %>
<% end %>
